{% load static %}
{% include 'staticbase.html' %}

<!DOCTYPE html>
<html>
<head>
    {% block staticsbase %}{% endblock staticsbase %}
    <script src="{% static 'js/csrf.js' %}"></script>

</head>

<body>
    <form action="."
          method="POST"
          id="reply_form">
        {% csrf_token %}
        <div class="form-group">
            <div id="test">
                {{ comment_form.media }}
                {{ comment_form.body }}
            </div>
        </div>
    </form>
    <!-- 提交按钮 -->
    <button id="btnsave" onclick="confirm_submit({{ article_id }}, {{ parent_comment_id }})" class="btn btn-outline-dark">发送</button>

    <script>
        $(function () {
            $(".django-ckeditor-widget").removeAttr('style');
        });</script>

    <script>
        function confirm_submit(article_id, comment_id) {
            // 从 ckeditor 中取值
            let content = CKEDITOR.instances['id_body'].getData();
            // 调用 ajax 与后端交换数据
            $.ajax({
                url: '/comment/post_comment/' + article_id + '/' + comment_id,
                type: 'POST',
                data: { body: content },
                // 成功回调
                success: function (e) {
                    if (e === '200 OK') {
                        parent.location.reload();
                    }
                }
            })
        }</script>

</body>
</html>
