{% extends 'aside.html' %}
{% load static %}
{% load mathjax %}

     
{% block title %}
{{ post.title }}

{% endblock title %}

{% block main %}
{% mathjax_scripts %}
<article class="post post-{{ post.pk }}">
    <header class="entry-header">
        <h1 class="entry-title">{{ post.title }}</h1>
        <div class="entry-meta">
            <span class="post-category"><a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a></span>
            <span class="post-date">
                <a href="{% url 'blog:archive' post.created_time.year post.created_time.month %}">
                    <time class="entry-date"
                          datetime="{{ post.created_time }}">{{ post.created_time }}</time>
                </a>
            </span>
            <span class="post-author"><a href="{% url 'blog:contact' %}">{{ post.author.nickname }}</a></span>
            <span class="comments-link"><a href="#comment_area">{{ post.comments.count }} 评论</a></span>
            <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        {{ post.body_html|safe  }}
    </div>
</article>

<!-- 发表评论 -->
<hr>
    {% if user.is_authenticated %}
<div>
    <form action="{% url 'comment:post_comment' post.pk %}"
          method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="body">
                <strong>
                    发表评论：
                </strong>
            </label>
            <div>
                {{ comment_form.media }}
                {{ comment_form.body }}
            </div>
        </div>
        <!-- 提交按钮 -->
        <button type="submit" class="btn btn-outline-dark ">发送</button>
    </form>
</div>
<br>
    {% else %}
<br>
<h5 class="row justify-content-center">
    请<a href="{% url 'login' %}?next={{ request.path }}">登录</a>后评论
</h5>
<br>
    {% endif %}


    {% load mptt_tags %}
<h4>共有{{ comments.count }}条评论</h4>
<div class="row">
    <!-- 遍历树形结构 -->
    {% recursetree comments %}
    <!-- 给 node 取个别名 comment -->
    {% with comment=node %}
    <div class="{% if comment.reply_to %}
                        offset-1 col-11
                        {% else %}
                        col-12
                        {% endif %}">
        <hr>
        <p>
            <strong style="color: black">
                {{ comment.user.nickname }}
            </strong>

            {% if comment.reply_to %}

            <i class="icon-reply icon-flip-horizontal"></i>
            <strong style="color: black">
                {{ comment.reply_to.nickname }}
            </strong>
            {% endif %}

        </p>
        <div>{{ comment.body|safe }}</div>

        <div>
            <span style="color: gray">
                {{ comment.created|date:"Y-m-d H:i" }}
            </span>

            <!-- modal 按钮 -->
            <button type="button"
                    class="btn btn-outline-dark btn-sm "
                    onclick="load_modal({{ post.pk }}, {{ comment.id }})">
                回复
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade"
             id="comment_{{ comment.id }}"
             tabindex="-1"
             role="dialog"
             aria-labelledby="CommentModalCenter"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="height: 480px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">回复 {{ comment.user.nickname }}：</h5>
                    </div>
                    <div class="modal-body" id="modal_body_{{ comment.id }}"></div>
                </div>

            </div>
        </div>

        {% if not comment.is_leaf_node %}
        <div class="children">
            {{ children }}
        </div>
        {% endif %}
    </div>


    {% endwith %}
    {% endrecursetree %}
</div>
    {% endblock main %}


    {% block toc %}
    {% if post.toc %}
<br>
<div class="widget widget-content">
    <h3 class="widget-title">文章目录</h3>
    <div class="toc">
        <ul>
            {{ post.toc|safe }}
        </ul>
    </div>
</div>
    {% endif %}
    {% endblock toc %}


    {% block script %}
<script src="https://cdn.staticfile.org/highlight.js/10.0.0/highlight.min.js"></script>
<script src="https://cdn.staticfile.org/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>


<script>
    $(".django-ckeditor-widget").removeAttr('style');
</script>
<script>

    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
</script>

<script src="{% static 'js/csrf.js' %}"></script>

<script>
    // 加载 modal
    function load_modal(article_id, comment_id) {
        let modal_body = '#modal_body_' + comment_id;
        let modal_id = '#comment_' + comment_id;

        // 加载编辑器
        if ($(modal_body).children().length === 0) {
            let content = '<iframe src="/comment/post_comment/' +
                article_id +
                '/' +
                comment_id +
                '"' +
                ' frameborder="0" style="width: 100%; height: 100%;" id="iframe_' +
                comment_id +
                '"></iframe>';
            $(modal_body).append(content);
        };

        $(modal_id).modal('show');



    }

</script>
    {% endblock script %}
