{% load static %}

{% block staticsbase %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="UTF-8">
<!-- css -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">-->
<link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link href="https://cdn.staticfile.org/highlight.js/10.0.0/styles/vs.min.css" rel="stylesheet">


<!-- js -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!--<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/popper-1.14.4.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>-->

    {% endblock staticsbase %}
