{% extends 'basic.html' %}

    {% block title %}
登录
    {% endblock title %}


{% block main %}
    <div class="container col-10 col-md-7 offset-md-2">
        <h3 class="offset-4">登录</h3>
        <br>
        <form class="form" action="{% url 'login' %}" method="post" role="form">
            {% csrf_token %}
            {% if form.captcha.errors %}
            <div class="alert alert-warning">{{ '验证码错误' }}</div>
            {% elif form.non_field_errors %}
            <div class="alert alert-warning">{{ form.non_field_errors }}</div>
            {% endif %}

            {% for field in form %}
            <div class="form-group">
                <div class="col-10">
                    {{ field }}
                </div>
            </div>

            {% if field.help_text %}
            <p class="help-block">
                {{ field.help_text|safe }}
            </p>
            {% endif %}

            {% endfor %}

            <button type="submit" class="btn btn-outline-dark offset-4">登录</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <div class="flex-left top-gap text-small">
            <span>注册、激活等操作请到主界面进行</span>
        </div>
    </div>

        {% endblock main %}



        {% block script %}

        <script>
    $('.captcha').click(function () {
                $.getJSON("/captcha/refresh/", function (result) {
                    $('.captcha').attr('src', result['image_url']);
                    $('#id_captcha_0').val(result['key'])
                });


            });</script>
        {% endblock script %}
