{% extends 'aside.html' %}

    {% block title %}
设置新密码
    {% endblock title %}


{% block main %}


<div class="container col-10 col-md-7 offset-md-2">
    <h3 class="offset-3">设置新密码</h3>
    <br>
    <form class="form" method="post" role="form">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-warning">{{ form.non_field_errors }}</div>
        {% endif %}
        {% for field in form %}
        <div class="form-group">
            <div class="col-10">
                {{ field }}
            </div>
        </div>
        {% if field.errors %}
        <div class="alert alert-warning">{{ field.errors }}</div>
        {% endif %}
        {% if field.help_text %}
        <p class="help-block">
            {{ field.help_text|safe }}
        </p>
        {% endif %}

        {% endfor %}

        <button type="submit" class="btn btn-outline-dark offset-4">提交</button>
    </form>

</div>

    {% endblock main %}
